.remoteWorkBlockContainer{
    background-color: cornflowerblue;
}

.mainRemoteWorkBlock {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.remoteBlockZone {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: gray;
}

.recruitButton {
    height: 35%;
    font-size: 30px;
    background-color: gold;
}