.skillsBlock {
    min-height: 100vh;
    background-color: #343a40;
}
.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: cornflowerblue;
}
.skills {
    margin-top: 30px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}