.mainBlock {
    min-height: 100vh;
    background-color: #1f1f20;;
}
.text {
    width: 300px;
    background-color: aliceblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: aliceblue;
}