@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.project {
  width: 350px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;

  .image {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .viewBtn {
      background-color: $primaryColor;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 0 0 5px;
      line-height: 1.2;
      color: $textColor;
      border-radius: 5px;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($fontFamilyJosefinSans, 16px, 700, 1.2);
      color: $textColor;
      letter-spacing: 1px;
      width: 50%;
      margin: 0 0 5px;
    }

    .description {
      @include text($fontFamilyPoppins, 12px, 400, 1.8);
      color: $textColor;
      width: 80%;
    }
  }
}





