@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
    .navBtn{
        @include text($fontFamilyJosefinSans, 18px, 500, 1.8);
        color: $textColor;
        letter-spacing: 2px;
        text-decoration: none;
    }
}