@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.nav {
    border: 1px solid black;
    width: 360px;
    display: flex;
    justify-content: space-between;
    .navBtn{
        @include text($fontFamilyJosefinSans, 14px, 200, 1.4);
        color: $textColor;
        letter-spacing: 1px;
    }
}