.footerContainer{
    background-color: #343a40;
}
.footerBlock {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: gray;
}

.socialIcons {
    width : 250px;
    background-color: gray;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialIcon {
    width: 50px;
    height: 50px;
    background-color: darkblue;
}

.rights {
    background-color: gray;
}